<div class="sign-in-area">
 <div class="sign-in-box">
  <h1>Log for your joggings!</h1>
  <%= link_to "/auth/gplus", class: "log-in-with-gplus btn btn-lg btn-social btn-google-plus" do %><i class="fa fa-google-plus"></i>Sign in with Google<% end %>
 </div>
</div>
